header .intro {
  position: initial;
}

header .socials {
  position: relative;
  min-width: 200px;
}

html,
footer,
.mobile-header,
.overlay-menu,
.overlay-menu header {
  background-color: #131419 !important;
}

a:hover,
a:focus,
a:active,
.tags a:hover,
.tags a:focus,
.tags a:active,
header a:hover,
header a:focus,
header a:active {
  color: #9a5013;
}

a:hover svg,
a:focus svg,
a:active svg {
  fill: #9a5013;
}

.portfolio img {
  box-shadow: none;
}

ul.pagination {
  display: flex;
  margin: 20px 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

ul.pagination li {
  margin: 0 10px;
}

ul.pagination li a {
  border-bottom: none;
}

ul.pagination li.active a {
  border-bottom: 1px #000 solid;
}
